/* General Styles */
body {
    margin: 0;
    font-family: 'Montserrat';
    display: flex;
    height: 100vh;
    background-color: #fff;
}

/* Navbar Styles */
.navbar {
    background-color: #488B8F;
    padding: 10px 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-logo {
    font-size: 14px;
    font-weight: medium;
    text-decoration: none;
    color: #FFFFFF;
}

/* Container Styles */
.container {
    display: flex;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    background-color: #fff;
    padding: 20px;  
    width: 250px;
    height: 230vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-right: 1px solid #488B8F;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    padding-top: 30px;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #488B8F;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.user-info {
    margin-top: 320px;
    color: #1E1E1E;
}

.user-info h3 {
    margin-bottom: 10px;
}

.user-info p {
    margin: 10px 0;
    
}


/* Main Content Styles */
.main-content {
    flex: 1;
    padding: 40px;
    padding-top: 60px;
    padding-left: 330px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.main-content h2 {
    color: #488B8F;
}

/* Tabs Styles */
.tabs {
    display: flex;
    margin-bottom: 20px;
    
}

.tab-button {
    background-color: #fff;
    border: 1px solid #488B8F;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 14px;
    color: #488B8F;
}

.tab-button.active {
    background-color: #488B8F;
    color: #FFFFFF;
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    font-size: 16px; /* Ukuran font pada elemen form, termasuk label dan input */
    color: #488B8F;
}

.form label {
    margin-top: 10px;
    color: #488B8F;
}

.form input {
    padding: 10px;
    border: 1px solid #488B8F;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px; /* Menentukan ukuran font pada elemen input */
    color: #488B8F;
}

.form input:focus {
    border-color: #488B8F;
    outline: none;
}

select.text { /* Menggunakan kelas */
    font-size: 16px;
    padding: 10px;
    border: 1px solid #488B8F;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    color: #488B8F;
}

select.text option {
    padding: 8px;
    font-size: 16px;
    color: #488B8F;
}

select.text option:hover {
    background-color: #488B8F;
    color: #FFFFFF;
}

.submit-button {
    background-color: #488B8F;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    align-self: flex-end;
}

.submit-button:hover {
    background-color: #3a6f6f;
}

