/* public/css/newberanda.css */
body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* Top Navigation/Details */
.container-navbar {
    display: flex;
    align-items: center;
    padding: 2px 30px;
    background-color: #488B8F;
    overflow-x: hidden;
}

.navbar-kesatu{
    display: flex;
    align-items: center;
    padding: 8px 30px;
    background-color: #488B8F;
    width: 100%;
    color: white;
}

.logo-batu {
    width: 30px;
    margin-right: 70px;
}

.ikon-topnav {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.navbar-kesatu p {
    color: white;
    margin: 0;
    margin-right: 26px;
    font-weight: lighter;
    font-size: 12px;
}

/* Logo & Title */
.web-intro {
    display: flex;
    flex-direction: column;
    align-items: center; /* Tambahkan ini untuk memastikan elemen berada di tengah */
    width: 100%;
    overflow-x: hidden;

}

.container.logo-title {
    gap: 0.5rem;
    width: 100%;
    max-width: 1200px; /* Sesuaikan lebar maksimum sesuai keinginan Anda */
    margin: 0 auto;
}

.logo {
    padding: 1.5rem;
    gap: 1.5rem;
    display: flex; /* Tambahkan ini untuk mengatur flexbox */
    justify-content: center; /* Tambahkan ini untuk memastikan elemen logo berada di tengah */
}

.logo-container-dua {
    width: 10vh; 
    height: 12vh;
}

.title {
    padding: 0;
    width: 100%;
    text-align: center; /* Tambahkan ini untuk memastikan teks berada di tengah */
}

.title h1 {
    margin: 0;
    font-size: x-large;
    display: inline-block; /* Tambahkan ini untuk menempatkan h1 bersebelahan */
}

.header-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.red-header {
    color: red;
}


.title h2 {
    font-size: large;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

/* Navbar */
.nav-item.dropdown.dropdown-navbar-kedua {
    position: relative;
}

.nav-link.dropdown-toggle {
    color: #488B8F ;
}

.nav-link.dropdown-toggle:hover {
    color: #ffffff ;
    background-color: #488B8F;
}

/* Dropdown menu styling */
.dropdown-menu {
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    min-width: 12rem; /* Adjust the minimum width as needed */
    padding: 0;
    background-color: #ffffff;
}

.dropdown-item.item-navbar-kedua {
    padding: 10px 20px;
    color: #488B8F;
}

.dropdown-item.item-navbar-kedua:hover {
    background-color: #488B8F;
    color: #ffffff;
}

/* Custom styles for navbar */
.navbar-kedua {
    border-top: 2px solid #488B8F;
    border-bottom: 2px solid #488B8F;
    border-radius: 0;
}

.navbar-kedua .nav-link {
    color: #488B8F;
}

.navbar-kedua .nav-link:hover {
    color: #ffffff ;
    background-color: #488B8F;
}

/* Searching */
.search-column {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 100%;
    height: 60vh;
    margin: auto;
    background-image: url('../images/hero_amongtani.jpeg') ; /* Path to your background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.26);
}

.bagian-satu, .bagian-dua, .bagian-tiga {
    width: 80rem;
    margin-bottom: 20px;
}


.bagian-satu input{
    text-align: center;
}

.bagian-tiga{
    gap: 1rem;
    margin-bottom: 2rem;
}

.form-control {
    padding: 10px;
    height: 3rem;
    width: 100%;
    margin: auto;
}

.custom-btn {
    background-color: white;
    padding: 10px;
    border: 0.5px solid;
    border-radius: 6px;
    border-color: #e6e6e6;
    width: 100%;
    height: 3rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.custom-btn::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown-menu {
    min-width: 100%;
}

.dropdown-item {
    white-space: nowrap;
}

.dropdown-item.item-tipe-dokumen:hover,
.dropdown-item.item-jenis-dokumen:hover,
.dropdown-item.item-status:hover {
    background-color: #488B8F;
    color: #ffffff;
}

.custom-btn:hover {
    background: #488b8f;
    text-decoration: none;
    color: white;
}

.search-column h3, h5, p {
    text-align: center;
}

.search-column h3{
    margin-bottom: 20px;
}

.search-column p{
    font-weight: bold;
}

.exc-search-column{
    color: white;
}

.search-column button[type="submit"] {
    background: #f85f68;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    width: 60rem; /* Adjust this value as needed */
    display: block;
    margin: 0 auto; /* Center the button */
    font-size: large;
    font-weight: bold;
}

.search-column button[type="submit"]:hover {
    background: #e04b53;
}

/* Document Counts */
.doc-counts{
    overflow-x: hidden;
}
.doc-counts a{
    text-decoration: none; /* Menghapus garis bawah pada tautan */
    color: inherit; /* Mengatur warna teks mengikuti warna elemen induk */
}
.doc-counts .custom-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 28%;
    margin: 20px; /* Center the card horizontally */
    gap: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transisi halus */
}

.doc-counts .custom-card:hover{
    background-color: #488b8f;
    color: white;
}

.custom-card:hover .card-title,
.custom-card:hover .card-text {
    color: #ffffff ;/* Warna teks di dalam card saat hover */
}
.doc-counts .custom-card:hover img {
    filter: invert(100%); /* Invert warna gambar saat hover */
}
.doc-counts .custom-card img {
    width: 4vw; /* Adjust the width of the icon */
    margin-left: auto; /* Push the icon to the right */
    transition: filter 0.3s ease;
}

.doc-counts .card-content {
    gap: 1rem; /* Allow the content to take up available space */
    width: 70%;
}

.doc-counts .card-title {
    font-size: 1.6rem;
    margin: 0;
    font-weight: bold;
}

.doc-counts .card-text {
    margin: 0;
    color: #000000;
    text-align: start;
}

/* New Rules */
.new-rules {
    padding: 20px;
    background-color: #488B8F;
    overflow-x: hidden;
}

.new-rules h5,p{
    color: #000000;
}

.p-new-rules{
    color: #000000;
}

.new-rules h3{
    color: white;
    padding: 10px;
    margin-bottom: 2rem ;
}

.new-rules .container {
    width: 60%;
}

.new-rules .custom-card {
    display: flex;
    align-items: flex-start; /* Align items to the top of the card */
    justify-content: space-between; /* Spread out content horizontally */
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-decoration: none; /* Remove underline from link */
    transition: background-color 1s ease, box-shadow 0.7s ease;
}

.new-rules .custom-card:hover {
    background-color: #e6e6e6;
    box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.25);
}

.new-rules .card-content {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Align children to space out horizontally */
}

.information {
    max-width: 60%; /* Adjust width as necessary */
    margin-left: 1rem;
}

.information h5 {
    margin-top: 0;
    margin-bottom: 16px;
}

.information p {
    margin: 0;
    font-size: 0.875rem;
    text-align: start; /* Adjust font size as necessary */
}

.new-rules-details {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Align items to the right end */
    gap: 10px; /* Space between items */
}

.new-rules-details p {
    margin: 0;
    font-size: 0.875rem;
    color: gray; /* Adjust font size as necessary */
}

.seen-counter, .download-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Space between icon and text */
}

.new-rules-details img {
    width: 1svw; /* Adjust icon size */
    height: auto;
    filter: contrast(30%);
}

.new-rules .custom-btn-more{
    font-size: larger;
    padding: 6px;
    border: 1px solid #305659;
    border-radius: 8px;
    background-color: #fff;
    color: #000000;
    width: 30%;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.new-rules .custom-btn-more:hover{
    background-color: #488B8F;
    color: white;
    border:1px solid white;
}